/include/ "system-conf.dtsi"
#include <dt-bindings/phy/phy.h>

/ {
	chosen {
		bootargs = " earlycon console=ttyPS0,115200 console=tty0 clk_ignore_unused root=/dev/mmcblk0p2 rw";
		stdout-path = "serial0:115200n8";
	};

        dp_clk:psgtr_dp_clock {
                compatible = "fixed-clock";
                #clock-cells = <0x00>;
                clock-frequency = <27000000>;
        };

	usb_clk:psgtr_usb_clock {
                compatible = "fixed-clock";
		#clock-cells = <0x00>;
                clock-frequency = <26000000>;
	};
};

&gem1 {
	status = "okay";
	phy-handle = <&phy0>;
	phy-mode = "rgmii-id";
	/* pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gem1_default>; */
	phy0: phy@f {
		reg = <0xf>;
		ti,rx-internal-delay = <0x8>;
		ti,tx-internal-delay = <0xa>;
		ti,fifo-depth = <0x1>;
		ti,dp83867-rxctrl-strap-quirk;
	};
};


&sdhci0 {
	no-1-8-v;
};

&psgtr {
      /* dp 0-1, usb0, usb1 */
      clocks = <&usb_clk>, <&dp_clk>;
      clock-names = "ref0", "ref1";
};

&zynqmp_dpsub {
	phys = <&psgtr 1 PHY_TYPE_DP 0 1>, <&psgtr 0 PHY_TYPE_DP 1 1>;
};

&usb0 {
	status = "okay";
	phys = <&psgtr 2 PHY_TYPE_USB3 0 1>;
};

&dwc3_0 {
	status = "okay";
	dr_mode = "peripheral";
	snps,usb3_lpm_capable;
	phy-names = "usb3-phy";
	maximum-speed = "super-speed";
};

&usb1 {
	status = "okay";
	phys = <&psgtr 3 PHY_TYPE_USB3 1 1>;
};

&dwc3_1 {
	status = "okay";
	dr_mode = "host";
	snps,usb3_lpm_capable;
	phy-names = "usb3-phy";
	maximum-speed = "super-speed";
};

&spi1 {
	spidev@0 {
		compatible = "rohm,dh2228fv";
		reg = <0>;
		spi-max-frequency = <500000>;
	};
};

&axi_gpio_0 {
	gpio-line-names = "SW0", "SW1", "SW2", "SW3",
			  "LED0", "LED1", "LED2", "LED3";
};

&axi_gpio_1 {
	gpio-line-names = "PMOD0_0", "PMOD0_1", "PMOD0_2", "PMOD0_3",
			  "PMOD0_4", "PMOD0_5", "PMOD0_6", "PMOD0_7",
			  "PMOD1_0", "PMOD1_1", "PMOD1_2", "PMOD1_3",
			  "PMOD1_4", "PMOD1_5", "PMOD1_6", "PMOD1_7";
};

&axi_gpio_2 {
	gpio-line-names = "PMOD01_0", "PMOD01_1", "PMOD01_2", "PMOD01_3",
			  "PMOD01_4", "PMOD01_5";
};

&axi_gpio_3 {
	gpio-line-names = "RGB0_R", "RGB0_G", "RGB0_B",
			  "RGB1_R", "RGB1_G", "RGB1_B";
};

&axi_gpio_4 {
	gpio-line-names = "PB0", "PB1", "PB2", "PB3", "BTN9";
};
